/*******************************************************************

    Module        : /assets/css/default.css
    Desc.         : CSS Default Configuration
    Created By    : Siau Pheng (siaupheng@3fonia.com).
    Created Date  : December 20th, 2007.
    Last Modified : December 16th, 2023.

    (c) 2009 - 2023, 3FONIA Software; WWW.3FONIA.COM.

*******************************************************************/

:root {
    --bs-gray: #8a93a2;
    --bs-gray-dark: #636f83;
    --bs-gray-100: #ebedef;
    --bs-gray-200: #d8dbe0;
    --bs-gray-300: #c4c9d0;
    --bs-gray-400: #b1b7c1;
    --bs-gray-500: #9da5b1;
    --bs-gray-600: #8a93a2;
    --bs-gray-700: #768192;
    --bs-gray-800: #636f83;
    --bs-gray-900: #4f5d73;
    --bs-primary: #321fdb;
    --bs-secondary: #9da5b1;
    --bs-success: #2eb85c;
    --bs-info: #39f;
    --bs-warning: #f9b115;
    --bs-danger: #e55353;
    --bs-light: #ebedef;
    --bs-dark: #4f5d73;
    --bs-primary-rgb: 50, 31, 219;
    --bs-secondary-rgb: 157, 165, 177;
    --bs-success-rgb: 46, 184, 92;
    --bs-info-rgb: 51, 153, 255;
    --bs-warning-rgb: 249, 177, 21;
    --bs-danger-rgb: 229, 83, 83;
    --bs-light-rgb: 235, 237, 239;
    --bs-dark-rgb: 79, 93, 115;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 21;
    --bs-body-color-rgb: 44, 56, 74;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: .95rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.2;
    --bs-body-color: rgba(44, 56, 74, 0.95);
    --bs-card-color: #000;
}

.dropdown-menu {
    -webkit-box-shadow: 0px 20px 30px rgba(83, 88, 93, 0.1), 0px 0px 30px rgba(83, 88, 93, 0.2);
            box-shadow: 0px 20px 30px rgba(83, 88, 93, 0.1), 0px 0px 30px rgba(83, 88, 93, 0.2);
}

.toast {
    width: unset !important;
    font-size: .95rem !important;
}

table.dataTable.table-bordered th, table.dataTable.table-bordered td {
    border-width: 0 1px !important;
}
table.dataTable.table-bordered th {
    font-size: 105%;
    background-color: var(--bs-gray-100, #ACACAC) !important;
    border-top-width: 1px !important;
    border-bottom-width: 1px !important;
}
table.dataTable.table-bordered tr:last-child td {
    border-bottom-width: 1px !important;
}
table.dataTable a.fon-tabel-dt i {
    padding-top: 2px;
    width: 1.5rem !important;
    height: 1.5rem !important;
    border: 0.15em solid white;
    border-radius: .7em;
    box-shadow: 0 0 0.2em #444;
    background-color: #31b131;
}
table.dataTable tr.dt-hasChild a.fon-tabel-dt i {
    background-color: #d33333;
}
table.dataTable a.fon-tabel-dt:hover i, table.dataTable tr.dt-hasChild a.fon-tabel-dt:hover i {
    color: unset;
}
div.dataTables_wrapper div.toolbar button {
    font-size: unset;
    line-height: unset;
}
div.dataTables_length select {
    margin-top: 1px;
    font-size: unset;
    line-height: unset;
}

.card-header.custom-style {
    padding: .5rem 1.25rem;
    background-color: #ced2d8 !important;
    text-align: center !important;
    color: #fff !important;
    font-weight: 600;
    font-size: 1rem;
}
.table-hover tbody tr:hover, .table-hover tbody tr:active { background-color: var(--bs-yellow, #ff9); }
.table-select tbody tr { cursor: pointer }
textarea { overflow-x: hidden }
input[type="checkbox"][readonly] {
    pointer-events: none;
}
div.body {
    background-color: #ebedef;
}
a.nav-link, a.slink, a.mlink, a.table-icon{ cursor: pointer; }
a.table-icon {
    text-decoration: none;
    padding: 0 6px;
}
a.table-icon:hover i {
    color: red;
}
button.tbl-rowbtn {/* */
    padding: .1rem .5rem;
}
button.tbl-rowbtn:hover {
    color: #fff;
    background-color: var(--bs-primary, #39f);
}
button.tbl-rowbtn.normal {/* */
    background-color: var(--bs-cyan, #93E3FF);
}
.input-group-text {
    box-shadow: none !important;
    padding-top: 0;
    padding-bottom: 0;
}
.icon-tooltip { color: var(--bs-warning); }

/** navibar menu **/

.navbar-custom {
    min-height: 3.2rem;
    background: #fff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1029;
    box-shadow: 0 2px 2px 0 rgba(60, 75, 100, .14), 0 3px 1px -2px rgba(60, 75, 100, .12), 0 1px 5px 0 rgba(60, 75, 100, .20);
}
.navbar-nav .nav-link {
    /*padding-left: 1.25rem !important;*/
}
.navbar-nav .dropdown-toggle:after {
    border-width: .4em .4em 0 .4em;
    margin-left: .5rem !important;
    border-top-color: rgba(44, 56, 74, 0.681);
}
.navbar-nav .dropdown-menu {
    width: 250px !important;
}
.navbar-nav .dropdown-submenu>.dropdown-menu {
    position: absolute;
    top: auto;
    left: 100%;
    margin-top: -2.55em;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.navbar-nav .dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.navbar-nav .dropdown-submenu>a:after {
    float: right;
    border-color: transparent;
    border-style: solid;
    border-width: .4em 0 .4em .4em;
    border-left-color: rgba(44, 56, 74, 0.681);
    margin-top: 5px;
}
.navbar-nav .dropdown-submenu:hover {
    background-color: #ebedef;
}
.navbar-nav .dropdown-item {
    padding: 0.5rem 1rem;
}
.navbar-nav .dropdown-item:hover, .navbar-nav .dropdown-item:focus {
    background-color: #42C2D5;
    color: #fff;
}
.navbar-nav .dropdown-toggle.slink:after {
    margin-left: auto;
}
.navbar-nav .dropdown-menu {
    max-height: 90vh !important;
}

/** sidebar **/

#sidebarMain .modal-dialog{
    margin: 0;
    width: 430px;
}
#sidebarMain .modal-content{
    border-radius: 0;
    height: 100vh;
    overflow-y: scroll;
    background-color: #102447;
}
#sidebarMain .modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-left: 0;
    border-bottom: 1px solid #fefefe;
}
#sidebarMain .modal-header img{
    height: 60px;
}
#sidebarMain .modal-header .btn-close{
    background: transparent;
    opacity: 1;
}
#sidebarMain .modal-header i{
    color: #fefefe;
    font-size: 2em;
}
#sidebarMain .modal-body{
    width: 100%;
    margin: 0 auto;
    flex: unset;
}
.sidebar li .submenu{ 
    list-style: none; 
    margin: 0; 
    padding: 0; 
    padding-left: 1rem; 
    padding-right: 1rem;
}
.sidebar .nav-link {
    font-weight: 500;
    color: var(--bs-dark);
}
.sidebar .nav-link:hover {
    color: var(--bs-primary);
}

@media(max-width: 450px){
    #sidebarMain .modal-dialog{
        width: 82%;
    }
}

.badge-profile {
    width: 8px;
    height: 8px;
    background: var(--bs-success);
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: -3px;
    z-index: 1;
}

.icon {
    display: inline-block;
    color: inherit;
    text-align: center;
    vertical-align: -0.125rem;
    fill: currentColor;
}

.icon-md, .icon-lg {
    height: 2.1rem;
    width: 2.1rem;
    font-size: 0.9em;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -o-object-fit: cover;
    object-fit: cover;
}
.icon-lg {
    height: 5rem;
    width: 5rem;
    font-size: 1.2em;
}

.modal-dialog.modal-fs {
    width: 90vw;
    max-width: unset;
}
.modal-header button.btn-cetak { margin-left: .5rem; }
.modal-header button.btn-cetak:hover {
    color: var(--light);
    background-color: var(--info);
}
@media(max-width:1199.98px) {
    .modal-header button.btn-cetak span {display: none!important;}
    .modal-header button.btn-cetak {
        padding: 0;
        background-color: transparent;
        border: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        box-shadow: none !important;
    }
}
@media(min-width: 576px) {
    .modal-400 { max-width: 400px; }
    .modal-500 { max-width: 500px; }
}

@media (max-width: 991.98px) {
    .dropdown-menu.dropdown-profile { width: 200px !important; }
    button.tbl-rowbtn {
        margin-bottom: .25rem;
    }
}

@media (min-width: 992px) {
    .dropdown-menu.dropdown-profile { width: 250px !important; }
    .wrapper {
        padding-left: 0 !important;
    }
    .table thead th {
        text-align: center !important;
        font-weight: 600 !important;
    }
}

div.dataTables_wrapper div.toolbar {
    padding-top: 0 !important;
    margin: 2px 0;
}
div.dataTables_length select.form-select {
    margin: 2px 0;
}

table>tbody tr.rsuccess td:not(:last-child) { background-color: var(--bs-success); }
table>tbody tr.rred td:not(:last-child) { background-color: var(--bs-red); }
table>tbody tr.rgreen td:not(:last-child) { background-color: var(--bs-green); }
table>tbody tr.ryellow td:not(:last-child) { background-color: var(--bs-yellow); }
table>tbody tr.rblue td:not(:last-child) { background-color: var(--bs-blue); }
table>tbody tr.rpurple td:not(:last-child) { background-color: var(--bs-purple); }
table>tbody tr.rcoret td:not(:last-child) { background-color:#F9B5B7; text-decoration: line-through; }

table * .b { font-weight: bold !important; }
table * .l { text-align: left !important; }
table * .r { text-align: right !important; }
table * .c { text-align: center !important; }
table * .i { font-style: italic; }
table * .s { font-size: .65em; }
table * .bi { font-weight: bold; font-style: italic; }
table * .wr { white-space: normal !important; }
table * .nwr { white-space: nowrap !important; }
table * .awr, table * .awr-400 { white-space: nowrap !important; max-width: 300px; overflow: hidden; text-overflow: ellipsis; }
table * .awr-400 { max-width: 400px; }
table * .hid { visibility: hidden !important; display: none !important; }
table * .nb { border: 0 !important; }

table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control::before, table.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control::before {
    font-family: coreui-icons-linear;
    content: "\ead6";
    color: #55a4be;
}
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td.dtr-control::before, table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th.dtr-control::before {
    margin-right: .25em;
    font-family: coreui-icons-linear;
    content: "\ead4";
}
ul.dtr-details li.hidden { visibility: hidden !important; display: none !important; }

/******************************** Select2 ********************************/

.select2-results__option[role="group"] {
    padding-left: 0 !important;
}
.select2-results__group {
    /*background-color: var(--bs-gray-200, #9da5b1);*/
    color: var(--bs-black, #000) !important;
    text-transform: uppercase;
    font-weight: bolder !important;
    font-size: 1.1rem;
}

/******************************** Autocomplete ********************************/

.bootstrap-autocomplete.dropdown-menu{
    max-height: 300px;
    overflow-y: scroll;
}

.bootstrap-autocomplete.dropdown-menu .dropdown-item {
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

/*.bs-fonac .dropdown-item:hover, .bs-fonac .dropdown-item:focus {
    color: var(--bs-white, #ffffff);
    background-color: var(--bs-blue, #ebedef);
}

.bs-fonac .dropdown-item.active, .bs-fonac .dropdown-item:active {
    color: var(--bs-white, #ffffff);
    text-decoration: none;
    background-color: var(--bs-blue, #321fdb);
}

.bs-fonac .dropdown-item.disabled, .bs-fonac .dropdown-item:disabled {
    color: var(--bs-dropdown-link-disabled-color, #8a93a2);
    pointer-events: none;
    background-color: transparent;
}*/

/******************************** text field ********************************/

input.double, input.integer, input.number {
    text-align: right;
}

/******************************** Preloader ********************************/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/** modal **/

.modal-primary .modal-content {
    border-color: #0d6efd;
}
.modal-primary .modal-header {
    color: #fff;
    background-color: #0d6efd;
}
.modal-secondary .modal-content {
    border-color: #6c757d;
}
.modal-secondary .modal-header {
    color: #fff;
    background-color: #6c757d;
}
.modal-success .modal-content {
    border-color: #198754;
}
.modal-success .modal-header {
    color: #fff;
    background-color: #198754;
}
.modal-info .modal-content {
    border-color: #0dcaf0;
}
.modal-info .modal-header {
    color: #fff;
    background-color: #0dcaf0;
}
.modal-warning .modal-content {
    border-color: #ffc107;
}
.modal-warning .modal-header {
    color: #fff;
    background-color: #ffc107;
}
.modal-danger .modal-content {
    border-color: #dc3545;
}
.modal-danger .modal-header {
    color: #fff;
    background-color: #dc3545;
}

/** footer **/

.footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-height: 3rem;
    padding: 0.5rem 1rem;
    color: var(--bs-footer-color, rgba(44, 56, 74, 0.95));
    background: var(--bs-footer-bg, #ebedef);
    border-top: var(--bs-footer-border-width, 1px) solid var(--bs-footer-border-color, #d8dbe0);
}
.footer a { 
    text-decoration: none;
    --bs-text-opacity: 1;
    color: inherit !important;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #d8dbe0;
    opacity: 1;
}
