@charset "UTF-8";
/*!* CoreUI Icons PRO - Linear
* @version v2.0.0-beta.1
* @link https://coreui.io/icons
* Copyright (c) 2020 creativeLabs Lukasz Holeczek
* License (https://coreui.io/icons/pro/license/)*/

[class^="cui-"], [class*=" cui-"] {
    font-family: coreui-icons-linear !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.cui-3d:before {
    content: "\ea01";
}
.cui-3d-rotate:before {
    content: "\ea02";
}
.cui-4k:before {
    content: "\ea03";
}
.cui-accessibility:before {
    content: "\ea04";
}
.cui-accessible:before {
    content: "\ea05";
}
.cui-account-logout:before {
    content: "\ea06";
}
.cui-action-redo:before {
    content: "\ea07";
}
.cui-action-undo:before {
    content: "\ea08";
}
.cui-address-book:before {
    content: "\ea09";
}
.cui-address-card:before {
    content: "\ea0a";
}
.cui-airplane-mode:before {
    content: "\ea0b";
}
.cui-airplane-mode-off:before {
    content: "\ea0c";
}
.cui-airplay:before {
    content: "\ea0d";
}
.cui-alarm:before {
    content: "\ea0e";
}
.cui-alarm-add:before {
    content: "\ea0f";
}
.cui-alarm-off:before {
    content: "\ea10";
}
.cui-alarm-on:before {
    content: "\ea11";
}
.cui-alarm-snooze:before {
    content: "\ea12";
}
.cui-album:before {
    content: "\ea13";
}
.cui-align-center:before {
    content: "\ea14";
}
.cui-align-left:before {
    content: "\ea15";
}
.cui-align-right:before {
    content: "\ea16";
}
.cui-american-football:before {
    content: "\ea17";
}
.cui-animal:before {
    content: "\ea18";
}
.cui-aperture:before {
    content: "\ea19";
}
.cui-apple:before {
    content: "\ea1a";
}
.cui-applications:before {
    content: "\ea1b";
}
.cui-applications-settings:before {
    content: "\ea1c";
}
.cui-apps:before {
    content: "\ea1d";
}
.cui-apps-settings:before {
    content: "\ea1e";
}
.cui-archive:before {
    content: "\ea1f";
}
.cui-arrow-bottom:before {
    content: "\ea20";
}
.cui-arrow-circle-bottom:before {
    content: "\ea21";
}
.cui-arrow-circle-left:before {
    content: "\ea22";
}
.cui-arrow-circle-right:before {
    content: "\ea23";
}
.cui-arrow-circle-top:before {
    content: "\ea24";
}
.cui-arrow-left:before {
    content: "\ea25";
}
.cui-arrow-right:before {
    content: "\ea26";
}
.cui-arrow-thick-bottom:before {
    content: "\ea27";
}
.cui-arrow-thick-circle-down:before {
    content: "\ea28";
}
.cui-arrow-thick-circle-left:before {
    content: "\ea29";
}
.cui-arrow-thick-circle-right:before {
    content: "\ea2a";
}
.cui-arrow-thick-circle-up:before {
    content: "\ea2b";
}
.cui-arrow-thick-from-bottom:before {
    content: "\ea2c";
}
.cui-arrow-thick-from-left:before {
    content: "\ea2d";
}
.cui-arrow-thick-from-right:before {
    content: "\ea2e";
}
.cui-arrow-thick-from-top:before {
    content: "\ea2f";
}
.cui-arrow-thick-left:before {
    content: "\ea30";
}
.cui-arrow-thick-right:before {
    content: "\ea31";
}
.cui-arrow-thick-square-down:before {
    content: "\ea32";
}
.cui-arrow-thick-square-left:before {
    content: "\ea33";
}
.cui-arrow-thick-square-right:before {
    content: "\ea34";
}
.cui-arrow-thick-square-up:before {
    content: "\ea35";
}
.cui-arrow-thick-to-bottom:before {
    content: "\ea36";
}
.cui-arrow-thick-to-left:before {
    content: "\ea37";
}
.cui-arrow-thick-to-right:before {
    content: "\ea38";
}
.cui-arrow-thick-to-top:before {
    content: "\ea39";
}
.cui-arrow-thick-top:before {
    content: "\ea3a";
}
.cui-arrow-top:before {
    content: "\ea3b";
}
.cui-art-track:before {
    content: "\ea3c";
}
.cui-assistive-listening-system:before {
    content: "\ea3d";
}
.cui-asterisk:before {
    content: "\ea3e";
}
.cui-asterisk-circle:before {
    content: "\ea3f";
}
.cui-at:before {
    content: "\ea40";
}
.cui-audio:before {
    content: "\ea41";
}
.cui-audio-description:before {
    content: "\ea42";
}
.cui-audio-spectrum:before {
    content: "\ea43";
}
.cui-av-timer:before {
    content: "\ea44";
}
.cui-baby:before {
    content: "\ea45";
}
.cui-baby-carriage:before {
    content: "\ea46";
}
.cui-backspace:before {
    content: "\ea47";
}
.cui-badge:before {
    content: "\ea48";
}
.cui-balance-scale:before {
    content: "\ea49";
}
.cui-balance-scale-left:before {
    content: "\ea4a";
}
.cui-balance-scale-right:before {
    content: "\ea4b";
}
.cui-ban:before {
    content: "\ea4c";
}
.cui-bank:before {
    content: "\ea4d";
}
.cui-bar-chart:before {
    content: "\ea4e";
}
.cui-barcode:before {
    content: "\ea4f";
}
.cui-baseball:before {
    content: "\ea50";
}
.cui-basket:before {
    content: "\ea51";
}
.cui-basket-arrow-down:before {
    content: "\ea52";
}
.cui-basket-loaded:before {
    content: "\ea53";
}
.cui-basket-plus:before {
    content: "\ea54";
}
.cui-basketball:before {
    content: "\ea55";
}
.cui-bath:before {
    content: "\ea56";
}
.cui-bathroom:before {
    content: "\ea57";
}
.cui-battery-0:before {
    content: "\ea58";
}
.cui-battery-1:before {
    content: "\ea59";
}
.cui-battery-2:before {
    content: "\ea5a";
}
.cui-battery-3:before {
    content: "\ea5b";
}
.cui-battery-4:before {
    content: "\ea5c";
}
.cui-battery-5:before {
    content: "\ea5d";
}
.cui-battery-alert:before {
    content: "\ea5e";
}
.cui-battery-alt-0:before {
    content: "\ea5f";
}
.cui-battery-alt-1:before {
    content: "\ea60";
}
.cui-battery-alt-2:before {
    content: "\ea61";
}
.cui-battery-alt-3:before {
    content: "\ea62";
}
.cui-battery-alt-empty:before {
    content: "\ea63";
}
.cui-battery-alt-full:before {
    content: "\ea64";
}
.cui-battery-alt-slash:before {
    content: "\ea65";
}
.cui-battery-charge:before {
    content: "\ea66";
}
.cui-battery-empty:before {
    content: "\ea67";
}
.cui-battery-full:before {
    content: "\ea68";
}
.cui-battery-slash:before {
    content: "\ea69";
}
.cui-battery-unknown:before {
    content: "\ea6a";
}
.cui-beach-access:before {
    content: "\ea6b";
}
.cui-beaker:before {
    content: "\ea6c";
}
.cui-bed:before {
    content: "\ea6d";
}
.cui-bell:before {
    content: "\ea6e";
}
.cui-bell-exclamation:before {
    content: "\ea6f";
}
.cui-bell-plus:before {
    content: "\ea70";
}
.cui-bell-ring:before {
    content: "\ea71";
}
.cui-bell-slash:before {
    content: "\ea72";
}
.cui-bike:before {
    content: "\ea73";
}
.cui-bike-alt:before {
    content: "\ea74";
}
.cui-birthday-cake:before {
    content: "\ea75";
}
.cui-blind:before {
    content: "\ea76";
}
.cui-bluetooth:before {
    content: "\ea77";
}
.cui-bluetooth-connected:before {
    content: "\ea78";
}
.cui-bluetooth-searching:before {
    content: "\ea79";
}
.cui-bluetooth-settings:before {
    content: "\ea7a";
}
.cui-bluetooth-slash:before {
    content: "\ea7b";
}
.cui-blur:before {
    content: "\ea7c";
}
.cui-blur-circular:before {
    content: "\ea7d";
}
.cui-blur-linear:before {
    content: "\ea7e";
}
.cui-blur-slash:before {
    content: "\ea7f";
}
.cui-boat:before {
    content: "\ea80";
}
.cui-boat-alt:before {
    content: "\ea81";
}
.cui-bold:before {
    content: "\ea82";
}
.cui-bolt:before {
    content: "\ea83";
}
.cui-bolt-alt:before {
    content: "\ea84";
}
.cui-bolt-circle:before {
    content: "\ea85";
}
.cui-book:before {
    content: "\ea86";
}
.cui-book-open:before {
    content: "\ea87";
}
.cui-bookmark:before {
    content: "\ea88";
}
.cui-bookmarks:before {
    content: "\ea89";
}
.cui-border-all:before {
    content: "\ea8a";
}
.cui-border-bottom:before {
    content: "\ea8b";
}
.cui-border-clear:before {
    content: "\ea8c";
}
.cui-border-horizontal:before {
    content: "\ea8d";
}
.cui-border-inner:before {
    content: "\ea8e";
}
.cui-border-left:before {
    content: "\ea8f";
}
.cui-border-outer:before {
    content: "\ea90";
}
.cui-border-right:before {
    content: "\ea91";
}
.cui-border-style:before {
    content: "\ea92";
}
.cui-border-top:before {
    content: "\ea93";
}
.cui-border-vertical:before {
    content: "\ea94";
}
.cui-bowling:before {
    content: "\ea95";
}
.cui-bowling-pins:before {
    content: "\ea96";
}
.cui-box:before {
    content: "\ea97";
}
.cui-box-alt:before {
    content: "\ea98";
}
.cui-braille:before {
    content: "\ea99";
}
.cui-branding-watermark:before {
    content: "\ea9a";
}
.cui-briefcase:before {
    content: "\ea9b";
}
.cui-briefcase-arrow-left:before {
    content: "\ea9c";
}
.cui-briefcase-arrow-right:before {
    content: "\ea9d";
}
.cui-briefcase-slash:before {
    content: "\ea9e";
}
.cui-brightness:before {
    content: "\ea9f";
}
.cui-brightness-auto:before {
    content: "\eaa0";
}
.cui-brightness-high:before {
    content: "\eaa1";
}
.cui-brightness-low:before {
    content: "\eaa2";
}
.cui-brightness-medium:before {
    content: "\eaa3";
}
.cui-british-pound:before {
    content: "\eaa4";
}
.cui-british-pound-circle:before {
    content: "\eaa5";
}
.cui-british-pound-slash:before {
    content: "\eaa6";
}
.cui-broadcast-tower:before {
    content: "\eaa7";
}
.cui-browser:before {
    content: "\eaa8";
}
.cui-brush:before {
    content: "\eaa9";
}
.cui-brush-alt:before {
    content: "\eaaa";
}
.cui-bug:before {
    content: "\eaab";
}
.cui-building:before {
    content: "\eaac";
}
.cui-building-business:before {
    content: "\eaad";
}
.cui-building-business-slash:before {
    content: "\eaae";
}
.cui-building-slash:before {
    content: "\eaaf";
}
.cui-bullhorn:before {
    content: "\eab0";
}
.cui-burger:before {
    content: "\eab1";
}
.cui-burn:before {
    content: "\eab2";
}
.cui-bus:before {
    content: "\eab3";
}
.cui-bus-alt:before {
    content: "\eab4";
}
.cui-bus-timer:before {
    content: "\eab5";
}
.cui-calculator:before {
    content: "\eab6";
}
.cui-calendar:before {
    content: "\eab7";
}
.cui-calendar-alt:before {
    content: "\eab8";
}
.cui-calendar-check:before {
    content: "\eab9";
}
.cui-calendar-event:before {
    content: "\eaba";
}
.cui-calendar-minus:before {
    content: "\eabb";
}
.cui-calendar-note:before {
    content: "\eabc";
}
.cui-calendar-plus:before {
    content: "\eabd";
}
.cui-calendar-times:before {
    content: "\eabe";
}
.cui-calendar-today:before {
    content: "\eabf";
}
.cui-calendar-view-day:before {
    content: "\eac0";
}
.cui-call-made:before {
    content: "\eac1";
}
.cui-call-merge:before {
    content: "\eac2";
}
.cui-call-missed:before {
    content: "\eac3";
}
.cui-call-missed-outgoing:before {
    content: "\eac4";
}
.cui-call-received:before {
    content: "\eac5";
}
.cui-call-split:before {
    content: "\eac6";
}
.cui-call-swap-calls:before {
    content: "\eac7";
}
.cui-call-to-action:before {
    content: "\eac8";
}
.cui-camera:before {
    content: "\eac9";
}
.cui-camera-control:before {
    content: "\eaca";
}
.cui-camera-enhance:before {
    content: "\eacb";
}
.cui-camera-plus:before {
    content: "\eacc";
}
.cui-camera-roll:before {
    content: "\eacd";
}
.cui-camera-switch:before {
    content: "\eace";
}
.cui-car:before {
    content: "\eacf";
}
.cui-car-alt:before {
    content: "\ead0";
}
.cui-card-giftcard:before {
    content: "\ead1";
}
.cui-card-membership:before {
    content: "\ead2";
}
.cui-card-travel:before {
    content: "\ead3";
}
.cui-caret-bottom:before {
    content: "\ead4";
}
.cui-caret-left:before {
    content: "\ead5";
}
.cui-caret-right:before {
    content: "\ead6";
}
.cui-caret-top:before {
    content: "\ead7";
}
.cui-cart:before {
    content: "\ead8";
}
.cui-cart-arrow-down:before {
    content: "\ead9";
}
.cui-cart-loaded:before {
    content: "\eada";
}
.cui-cart-plus:before {
    content: "\eadb";
}
.cui-cart-slash:before {
    content: "\eadc";
}
.cui-cash:before {
    content: "\eadd";
}
.cui-casino:before {
    content: "\eade";
}
.cui-cast:before {
    content: "\eadf";
}
.cui-cast-connected:before {
    content: "\eae0";
}
.cui-cast-for-education:before {
    content: "\eae1";
}
.cui-cat:before {
    content: "\eae2";
}
.cui-cc:before {
    content: "\eae3";
}
.cui-center-focus:before {
    content: "\eae4";
}
.cui-center-focus-weak:before {
    content: "\eae5";
}
.cui-chalkboard-teacher:before {
    content: "\eae6";
}
.cui-chart:before {
    content: "\eae7";
}
.cui-chart-area:before {
    content: "\eae8";
}
.cui-chart-bubble:before {
    content: "\eae9";
}
.cui-chart-donut:before {
    content: "\eaea";
}
.cui-chart-line:before {
    content: "\eaeb";
}
.cui-chart-multiline:before {
    content: "\eaec";
}
.cui-chart-pie:before {
    content: "\eaed";
}
.cui-chart-show:before {
    content: "\eaee";
}
.cui-chart-table:before {
    content: "\eaef";
}
.cui-chat-bubble:before {
    content: "\eaf0";
}
.cui-chat-square:before {
    content: "\eaf1";
}
.cui-check:before {
    content: "\eaf2";
}
.cui-check-alt:before {
    content: "\eaf3";
}
.cui-check-circle:before {
    content: "\eaf4";
}
.cui-check-double:before {
    content: "\eaf5";
}
.cui-check-double-alt:before {
    content: "\eaf6";
}
.cui-chevron-bottom:before {
    content: "\eaf7";
}
.cui-chevron-bottom-alt:before {
    content: "\eaf8";
}
.cui-chevron-circle-down:before {
    content: "\eaf9";
}
.cui-chevron-circle-down-alt:before {
    content: "\eafa";
}
.cui-chevron-circle-left:before {
    content: "\eafb";
}
.cui-chevron-circle-left-alt:before {
    content: "\eafc";
}
.cui-chevron-circle-right:before {
    content: "\eafd";
}
.cui-chevron-circle-right-alt:before {
    content: "\eafe";
}
.cui-chevron-circle-up:before {
    content: "\eaff";
}
.cui-chevron-circle-up-alt:before {
    content: "\eb00";
}
.cui-chevron-double-down:before {
    content: "\eb01";
}
.cui-chevron-double-down-alt:before {
    content: "\eb02";
}
.cui-chevron-double-left:before {
    content: "\eb03";
}
.cui-chevron-double-left-alt:before {
    content: "\eb04";
}
.cui-chevron-double-right:before {
    content: "\eb05";
}
.cui-chevron-double-right-alt:before {
    content: "\eb06";
}
.cui-chevron-double-up:before {
    content: "\eb07";
}
.cui-chevron-double-up-alt:before {
    content: "\eb08";
}
.cui-chevron-left:before {
    content: "\eb09";
}
.cui-chevron-left-alt:before {
    content: "\eb0a";
}
.cui-chevron-right:before {
    content: "\eb0b";
}
.cui-chevron-right-alt:before {
    content: "\eb0c";
}
.cui-chevron-square-down:before {
    content: "\eb0d";
}
.cui-chevron-square-down-alt:before {
    content: "\eb0e";
}
.cui-chevron-square-left:before {
    content: "\eb0f";
}
.cui-chevron-square-left-alt:before {
    content: "\eb10";
}
.cui-chevron-square-right:before {
    content: "\eb11";
}
.cui-chevron-square-right-alt:before {
    content: "\eb12";
}
.cui-chevron-square-up:before {
    content: "\eb13";
}
.cui-chevron-square-up-alt:before {
    content: "\eb14";
}
.cui-chevron-top:before {
    content: "\eb15";
}
.cui-chevron-top-alt:before {
    content: "\eb16";
}
.cui-child:before {
    content: "\eb17";
}
.cui-child-friendly:before {
    content: "\eb18";
}
.cui-circle:before {
    content: "\eb19";
}
.cui-city:before {
    content: "\eb1a";
}
.cui-clear-all:before {
    content: "\eb1b";
}
.cui-clipboard:before {
    content: "\eb1c";
}
.cui-clock:before {
    content: "\eb1d";
}
.cui-clone:before {
    content: "\eb1e";
}
.cui-closed-captioning:before {
    content: "\eb1f";
}
.cui-cloud:before {
    content: "\eb20";
}
.cui-cloud-check:before {
    content: "\eb21";
}
.cui-cloud-circle:before {
    content: "\eb22";
}
.cui-cloud-data:before {
    content: "\eb23";
}
.cui-cloud-download:before {
    content: "\eb24";
}
.cui-cloud-slash:before {
    content: "\eb25";
}
.cui-cloud-upload:before {
    content: "\eb26";
}
.cui-cloudy:before {
    content: "\eb27";
}
.cui-code:before {
    content: "\eb28";
}
.cui-coffee:before {
    content: "\eb29";
}
.cui-cog:before {
    content: "\eb2a";
}
.cui-color-border:before {
    content: "\eb2b";
}
.cui-color-fill:before {
    content: "\eb2c";
}
.cui-color-palette:before {
    content: "\eb2d";
}
.cui-columns:before {
    content: "\eb2e";
}
.cui-command:before {
    content: "\eb2f";
}
.cui-comment-bubble:before {
    content: "\eb30";
}
.cui-comment-bubble-check:before {
    content: "\eb31";
}
.cui-comment-bubble-edit:before {
    content: "\eb32";
}
.cui-comment-bubble-exclamation:before {
    content: "\eb33";
}
.cui-comment-bubble-lines:before {
    content: "\eb34";
}
.cui-comment-bubble-minus:before {
    content: "\eb35";
}
.cui-comment-bubble-plus:before {
    content: "\eb36";
}
.cui-comment-bubble-question:before {
    content: "\eb37";
}
.cui-comment-bubble-smile:before {
    content: "\eb38";
}
.cui-comment-bubble-x:before {
    content: "\eb39";
}
.cui-comment-square:before {
    content: "\eb3a";
}
.cui-comment-square-check:before {
    content: "\eb3b";
}
.cui-comment-square-edit:before {
    content: "\eb3c";
}
.cui-comment-square-exclamation:before {
    content: "\eb3d";
}
.cui-comment-square-image:before {
    content: "\eb3e";
}
.cui-comment-square-lines:before {
    content: "\eb3f";
}
.cui-comment-square-minus:before {
    content: "\eb40";
}
.cui-comment-square-plus:before {
    content: "\eb41";
}
.cui-comment-square-rate-review:before {
    content: "\eb42";
}
.cui-comment-square-smile:before {
    content: "\eb43";
}
.cui-comment-square-x:before {
    content: "\eb44";
}
.cui-commute:before {
    content: "\eb45";
}
.cui-compare:before {
    content: "\eb46";
}
.cui-compass:before {
    content: "\eb47";
}
.cui-compass-calibration:before {
    content: "\eb48";
}
.cui-compass-slash:before {
    content: "\eb49";
}
.cui-compress:before {
    content: "\eb4a";
}
.cui-compress-wide:before {
    content: "\eb4b";
}
.cui-contact:before {
    content: "\eb4c";
}
.cui-contact-mail:before {
    content: "\eb4d";
}
.cui-contact-phone:before {
    content: "\eb4e";
}
.cui-contacts:before {
    content: "\eb4f";
}
.cui-contrast:before {
    content: "\eb50";
}
.cui-control:before {
    content: "\eb51";
}
.cui-copy:before {
    content: "\eb52";
}
.cui-copyright:before {
    content: "\eb53";
}
.cui-couch:before {
    content: "\eb54";
}
.cui-credit-card:before {
    content: "\eb55";
}
.cui-crop:before {
    content: "\eb56";
}
.cui-crop-rotate:before {
    content: "\eb57";
}
.cui-cursor:before {
    content: "\eb58";
}
.cui-cursor-move:before {
    content: "\eb59";
}
.cui-cut:before {
    content: "\eb5a";
}
.cui-data-transfer-down:before {
    content: "\eb5b";
}
.cui-data-transfer-up:before {
    content: "\eb5c";
}
.cui-deaf:before {
    content: "\eb5d";
}
.cui-delete:before {
    content: "\eb5e";
}
.cui-description:before {
    content: "\eb5f";
}
.cui-developer-board:before {
    content: "\eb60";
}
.cui-device-unknown:before {
    content: "\eb61";
}
.cui-devices:before {
    content: "\eb62";
}
.cui-devices-important:before {
    content: "\eb63";
}
.cui-devices-other:before {
    content: "\eb64";
}
.cui-devices-slash:before {
    content: "\eb65";
}
.cui-dial:before {
    content: "\eb66";
}
.cui-dialpad:before {
    content: "\eb67";
}
.cui-diamond:before {
    content: "\eb68";
}
.cui-dinner:before {
    content: "\eb69";
}
.cui-directions:before {
    content: "\eb6a";
}
.cui-disabled:before {
    content: "\eb6b";
}
.cui-dns:before {
    content: "\eb6c";
}
.cui-dock:before {
    content: "\eb6d";
}
.cui-document:before {
    content: "\eb6e";
}
.cui-dog:before {
    content: "\eb6f";
}
.cui-dollar:before {
    content: "\eb70";
}
.cui-dollar-circle:before {
    content: "\eb71";
}
.cui-dollar-circle-slash:before {
    content: "\eb72";
}
.cui-dollar-slash:before {
    content: "\eb73";
}
.cui-donate:before {
    content: "\eb74";
}
.cui-door:before {
    content: "\eb75";
}
.cui-double-quote-sans-left:before {
    content: "\eb76";
}
.cui-double-quote-sans-right:before {
    content: "\eb77";
}
.cui-double-quote-serif-left:before {
    content: "\eb78";
}
.cui-double-quote-serif-right:before {
    content: "\eb79";
}
.cui-drink:before {
    content: "\eb7a";
}
.cui-drink-alcohol:before {
    content: "\eb7b";
}
.cui-drop:before {
    content: "\eb7c";
}
.cui-drop-slash:before {
    content: "\eb7d";
}
.cui-dvr:before {
    content: "\eb7e";
}
.cui-ear:before {
    content: "\eb7f";
}
.cui-eco:before {
    content: "\eb80";
}
.cui-education:before {
    content: "\eb81";
}
.cui-elevator:before {
    content: "\eb82";
}
.cui-energy:before {
    content: "\eb83";
}
.cui-energy-circle:before {
    content: "\eb84";
}
.cui-envelope-closed:before {
    content: "\eb85";
}
.cui-envelope-letter:before {
    content: "\eb86";
}
.cui-envelope-minus:before {
    content: "\eb87";
}
.cui-envelope-open:before {
    content: "\eb88";
}
.cui-envelope-plus:before {
    content: "\eb89";
}
.cui-equalizer:before {
    content: "\eb8a";
}
.cui-ethernet:before {
    content: "\eb8b";
}
.cui-ethernet-alt:before {
    content: "\eb8c";
}
.cui-euro:before {
    content: "\eb8d";
}
.cui-euro-circle:before {
    content: "\eb8e";
}
.cui-euro-circle-slash:before {
    content: "\eb8f";
}
.cui-euro-slash:before {
    content: "\eb90";
}
.cui-ev-station:before {
    content: "\eb91";
}
.cui-excerpt:before {
    content: "\eb92";
}
.cui-exclamation:before {
    content: "\eb93";
}
.cui-exclamation-circle:before {
    content: "\eb94";
}
.cui-exit-to-app:before {
    content: "\eb95";
}
.cui-expand-down:before {
    content: "\eb96";
}
.cui-expand-left:before {
    content: "\eb97";
}
.cui-expand-right:before {
    content: "\eb98";
}
.cui-expand-up:before {
    content: "\eb99";
}
.cui-exposure:before {
    content: "\eb9a";
}
.cui-external-link:before {
    content: "\eb9b";
}
.cui-eye:before {
    content: "\eb9c";
}
.cui-eye-slash:before {
    content: "\eb9d";
}
.cui-eyedropper:before {
    content: "\eb9e";
}
.cui-face:before {
    content: "\eb9f";
}
.cui-face-dead:before {
    content: "\eba0";
}
.cui-factory:before {
    content: "\eba1";
}
.cui-factory-slash:before {
    content: "\eba2";
}
.cui-fastfood:before {
    content: "\eba3";
}
.cui-fax:before {
    content: "\eba4";
}
.cui-featured-playlist:before {
    content: "\eba5";
}
.cui-featured-video:before {
    content: "\eba6";
}
.cui-fiber-dvr:before {
    content: "\eba7";
}
.cui-fiber-manual:before {
    content: "\eba8";
}
.cui-fiber-new:before {
    content: "\eba9";
}
.cui-fiber-pin:before {
    content: "\ebaa";
}
.cui-fiber-smart:before {
    content: "\ebab";
}
.cui-file:before {
    content: "\ebac";
}
.cui-file-acrobat:before {
    content: "\ebad";
}
.cui-file-add:before {
    content: "\ebae";
}
.cui-file-archive:before {
    content: "\ebaf";
}
.cui-file-audio:before {
    content: "\ebb0";
}
.cui-file-code:before {
    content: "\ebb1";
}
.cui-file-doc:before {
    content: "\ebb2";
}
.cui-file-excel:before {
    content: "\ebb3";
}
.cui-file-image:before {
    content: "\ebb4";
}
.cui-file-pdf:before {
    content: "\ebb5";
}
.cui-file-powerpoint:before {
    content: "\ebb6";
}
.cui-file-ppt:before {
    content: "\ebb7";
}
.cui-file-video:before {
    content: "\ebb8";
}
.cui-file-word:before {
    content: "\ebb9";
}
.cui-file-xls:before {
    content: "\ebba";
}
.cui-filter:before {
    content: "\ebbb";
}
.cui-filter-frames:before {
    content: "\ebbc";
}
.cui-filter-photo:before {
    content: "\ebbd";
}
.cui-filter-square:before {
    content: "\ebbe";
}
.cui-filter-x:before {
    content: "\ebbf";
}
.cui-find-in-page:before {
    content: "\ebc0";
}
.cui-find-replace:before {
    content: "\ebc1";
}
.cui-fingerprint:before {
    content: "\ebc2";
}
.cui-fire:before {
    content: "\ebc3";
}
.cui-flag:before {
    content: "\ebc4";
}
.cui-flag-alt:before {
    content: "\ebc5";
}
.cui-flag-rectangle:before {
    content: "\ebc6";
}
.cui-flag-triangle:before {
    content: "\ebc7";
}
.cui-flame:before {
    content: "\ebc8";
}
.cui-flash:before {
    content: "\ebc9";
}
.cui-flight-land:before {
    content: "\ebca";
}
.cui-flight-takeoff:before {
    content: "\ebcb";
}
.cui-flip:before {
    content: "\ebcc";
}
.cui-flip-to-back:before {
    content: "\ebcd";
}
.cui-flip-to-front:before {
    content: "\ebce";
}
.cui-flower:before {
    content: "\ebcf";
}
.cui-folder:before {
    content: "\ebd0";
}
.cui-folder-alt:before {
    content: "\ebd1";
}
.cui-folder-open:before {
    content: "\ebd2";
}
.cui-folder-plus:before {
    content: "\ebd3";
}
.cui-folder-shared:before {
    content: "\ebd4";
}
.cui-folder-special:before {
    content: "\ebd5";
}
.cui-font:before {
    content: "\ebd6";
}
.cui-football:before {
    content: "\ebd7";
}
.cui-fork:before {
    content: "\ebd8";
}
.cui-fridge:before {
    content: "\ebd9";
}
.cui-frown:before {
    content: "\ebda";
}
.cui-fullscreen:before {
    content: "\ebdb";
}
.cui-fullscreen-exit:before {
    content: "\ebdc";
}
.cui-functions:before {
    content: "\ebdd";
}
.cui-functions-alt:before {
    content: "\ebde";
}
.cui-gamepad:before {
    content: "\ebdf";
}
.cui-garage:before {
    content: "\ebe0";
}
.cui-gem:before {
    content: "\ebe1";
}
.cui-gif:before {
    content: "\ebe2";
}
.cui-gift:before {
    content: "\ebe3";
}
.cui-glass:before {
    content: "\ebe4";
}
.cui-globe:before {
    content: "\ebe5";
}
.cui-globe-alt:before {
    content: "\ebe6";
}
.cui-globe-alt-lock:before {
    content: "\ebe7";
}
.cui-globe-lock:before {
    content: "\ebe8";
}
.cui-golf:before {
    content: "\ebe9";
}
.cui-golf-alt:before {
    content: "\ebea";
}
.cui-gradient:before {
    content: "\ebeb";
}
.cui-grain:before {
    content: "\ebec";
}
.cui-graph:before {
    content: "\ebed";
}
.cui-grid:before {
    content: "\ebee";
}
.cui-grid-slash:before {
    content: "\ebef";
}
.cui-group:before {
    content: "\ebf0";
}
.cui-group-minus:before {
    content: "\ebf1";
}
.cui-group-plus:before {
    content: "\ebf2";
}
.cui-group-x:before {
    content: "\ebf3";
}
.cui-hamburger-menu:before {
    content: "\ebf4";
}
.cui-hand-lizard:before {
    content: "\ebf5";
}
.cui-hand-paper:before {
    content: "\ebf6";
}
.cui-hand-peace:before {
    content: "\ebf7";
}
.cui-hand-point-down:before {
    content: "\ebf8";
}
.cui-hand-point-left:before {
    content: "\ebf9";
}
.cui-hand-point-right:before {
    content: "\ebfa";
}
.cui-hand-point-up:before {
    content: "\ebfb";
}
.cui-hand-pointer:before {
    content: "\ebfc";
}
.cui-hand-rock:before {
    content: "\ebfd";
}
.cui-hand-scissors:before {
    content: "\ebfe";
}
.cui-hand-spock:before {
    content: "\ebff";
}
.cui-handshake:before {
    content: "\ec00";
}
.cui-happy:before {
    content: "\ec01";
}
.cui-hard-drive:before {
    content: "\ec02";
}
.cui-hd:before {
    content: "\ec03";
}
.cui-hdr:before {
    content: "\ec04";
}
.cui-hdr-slash:before {
    content: "\ec05";
}
.cui-header:before {
    content: "\ec06";
}
.cui-headphones:before {
    content: "\ec07";
}
.cui-headphones-mic:before {
    content: "\ec08";
}
.cui-headphones-mute:before {
    content: "\ec09";
}
.cui-healing:before {
    content: "\ec0a";
}
.cui-heart:before {
    content: "\ec0b";
}
.cui-high-quality:before {
    content: "\ec0c";
}
.cui-highlighter:before {
    content: "\ec0d";
}
.cui-highligt:before {
    content: "\ec0e";
}
.cui-history:before {
    content: "\ec0f";
}
.cui-home:before {
    content: "\ec10";
}
.cui-hospital:before {
    content: "\ec11";
}
.cui-hot-tub:before {
    content: "\ec12";
}
.cui-hotel:before {
    content: "\ec13";
}
.cui-hourglass:before {
    content: "\ec14";
}
.cui-house:before {
    content: "\ec15";
}
.cui-hq:before {
    content: "\ec16";
}
.cui-http:before {
    content: "\ec17";
}
.cui-https:before {
    content: "\ec18";
}
.cui-id-badge:before {
    content: "\ec19";
}
.cui-id-card:before {
    content: "\ec1a";
}
.cui-image:before {
    content: "\ec1b";
}
.cui-image-broken:before {
    content: "\ec1c";
}
.cui-image-plus:before {
    content: "\ec1d";
}
.cui-images:before {
    content: "\ec1e";
}
.cui-inbox:before {
    content: "\ec1f";
}
.cui-inbox-in:before {
    content: "\ec20";
}
.cui-inbox-out:before {
    content: "\ec21";
}
.cui-indent-decrease:before {
    content: "\ec22";
}
.cui-indent-increase:before {
    content: "\ec23";
}
.cui-industry:before {
    content: "\ec24";
}
.cui-industry-slash:before {
    content: "\ec25";
}
.cui-infinity:before {
    content: "\ec26";
}
.cui-info:before {
    content: "\ec27";
}
.cui-input:before {
    content: "\ec28";
}
.cui-input-antenna:before {
    content: "\ec29";
}
.cui-input-component:before {
    content: "\ec2a";
}
.cui-input-hdmi:before {
    content: "\ec2b";
}
.cui-input-power:before {
    content: "\ec2c";
}
.cui-input-power-off:before {
    content: "\ec2d";
}
.cui-input-svideo:before {
    content: "\ec2e";
}
.cui-institution:before {
    content: "\ec2f";
}
.cui-invert:before {
    content: "\ec30";
}
.cui-italic:before {
    content: "\ec31";
}
.cui-justify-center:before {
    content: "\ec32";
}
.cui-justify-left:before {
    content: "\ec33";
}
.cui-justify-right:before {
    content: "\ec34";
}
.cui-key:before {
    content: "\ec35";
}
.cui-key-alt:before {
    content: "\ec36";
}
.cui-keyboard:before {
    content: "\ec37";
}
.cui-keyboard-hide:before {
    content: "\ec38";
}
.cui-kitchen:before {
    content: "\ec39";
}
.cui-lan:before {
    content: "\ec3a";
}
.cui-language:before {
    content: "\ec3b";
}
.cui-laptop:before {
    content: "\ec3c";
}
.cui-laundry:before {
    content: "\ec3d";
}
.cui-layers:before {
    content: "\ec3e";
}
.cui-layers-slash:before {
    content: "\ec3f";
}
.cui-leaf:before {
    content: "\ec40";
}
.cui-lemon:before {
    content: "\ec41";
}
.cui-level-down:before {
    content: "\ec42";
}
.cui-level-up:before {
    content: "\ec43";
}
.cui-library:before {
    content: "\ec44";
}
.cui-library-add:before {
    content: "\ec45";
}
.cui-library-bookmark:before {
    content: "\ec46";
}
.cui-library-books:before {
    content: "\ec47";
}
.cui-library-building:before {
    content: "\ec48";
}
.cui-library-music:before {
    content: "\ec49";
}
.cui-life-ring:before {
    content: "\ec4a";
}
.cui-lightbulb:before {
    content: "\ec4b";
}
.cui-line-spacing:before {
    content: "\ec4c";
}
.cui-line-style:before {
    content: "\ec4d";
}
.cui-line-weight:before {
    content: "\ec4e";
}
.cui-link:before {
    content: "\ec4f";
}
.cui-link-alt:before {
    content: "\ec50";
}
.cui-link-broken:before {
    content: "\ec51";
}
.cui-link-intact:before {
    content: "\ec52";
}
.cui-link-slash:before {
    content: "\ec53";
}
.cui-list:before {
    content: "\ec54";
}
.cui-list-filter:before {
    content: "\ec55";
}
.cui-list-high-priority:before {
    content: "\ec56";
}
.cui-list-low-priority:before {
    content: "\ec57";
}
.cui-list-numbered:before {
    content: "\ec58";
}
.cui-list-numbered-rtl:before {
    content: "\ec59";
}
.cui-list-rich:before {
    content: "\ec5a";
}
.cui-location-gps:before {
    content: "\ec5b";
}
.cui-location-gps-fixed:before {
    content: "\ec5c";
}
.cui-location-gps-off:before {
    content: "\ec5d";
}
.cui-location-pin:before {
    content: "\ec5e";
}
.cui-location-pin-check:before {
    content: "\ec5f";
}
.cui-location-pin-edit:before {
    content: "\ec60";
}
.cui-location-pin-plus:before {
    content: "\ec61";
}
.cui-location-pin-slash:before {
    content: "\ec62";
}
.cui-lock-locked:before {
    content: "\ec63";
}
.cui-lock-minus:before {
    content: "\ec64";
}
.cui-lock-plus:before {
    content: "\ec65";
}
.cui-lock-unlocked:before {
    content: "\ec66";
}
.cui-locomotive:before {
    content: "\ec67";
}
.cui-loop:before {
    content: "\ec68";
}
.cui-loop-1:before {
    content: "\ec69";
}
.cui-loop-circular:before {
    content: "\ec6a";
}
.cui-loop-square:before {
    content: "\ec6b";
}
.cui-low-vision:before {
    content: "\ec6c";
}
.cui-loyalty:before {
    content: "\ec6d";
}
.cui-magnifying-glass:before {
    content: "\ec6e";
}
.cui-mail:before {
    content: "\ec6f";
}
.cui-mailbox:before {
    content: "\ec70";
}
.cui-map:before {
    content: "\ec71";
}
.cui-map-alt:before {
    content: "\ec72";
}
.cui-media-eject:before {
    content: "\ec73";
}
.cui-media-eject-circle:before {
    content: "\ec74";
}
.cui-media-eject-square:before {
    content: "\ec75";
}
.cui-media-pause:before {
    content: "\ec76";
}
.cui-media-pause-circle:before {
    content: "\ec77";
}
.cui-media-pause-square:before {
    content: "\ec78";
}
.cui-media-play:before {
    content: "\ec79";
}
.cui-media-play-circle:before {
    content: "\ec7a";
}
.cui-media-play-square:before {
    content: "\ec7b";
}
.cui-media-record:before {
    content: "\ec7c";
}
.cui-media-record-circle:before {
    content: "\ec7d";
}
.cui-media-record-square:before {
    content: "\ec7e";
}
.cui-media-skip-backward:before {
    content: "\ec7f";
}
.cui-media-skip-backward-circle:before {
    content: "\ec80";
}
.cui-media-skip-backward-square:before {
    content: "\ec81";
}
.cui-media-skip-forward:before {
    content: "\ec82";
}
.cui-media-skip-forward-circle:before {
    content: "\ec83";
}
.cui-media-skip-forward-square:before {
    content: "\ec84";
}
.cui-media-step-backward:before {
    content: "\ec85";
}
.cui-media-step-backward-circle:before {
    content: "\ec86";
}
.cui-media-step-backward-square:before {
    content: "\ec87";
}
.cui-media-step-forward:before {
    content: "\ec88";
}
.cui-media-step-forward-circle:before {
    content: "\ec89";
}
.cui-media-step-forward-square:before {
    content: "\ec8a";
}
.cui-media-stop:before {
    content: "\ec8b";
}
.cui-media-stop-circle:before {
    content: "\ec8c";
}
.cui-media-stop-square:before {
    content: "\ec8d";
}
.cui-medical-cross:before {
    content: "\ec8e";
}
.cui-meh:before {
    content: "\ec8f";
}
.cui-memory:before {
    content: "\ec90";
}
.cui-menu:before {
    content: "\ec91";
}
.cui-mic:before {
    content: "\ec92";
}
.cui-mic-alt:before {
    content: "\ec93";
}
.cui-mic-settings:before {
    content: "\ec94";
}
.cui-mic-slash:before {
    content: "\ec95";
}
.cui-microchip:before {
    content: "\ec96";
}
.cui-microphone:before {
    content: "\ec97";
}
.cui-microphone-alt:before {
    content: "\ec98";
}
.cui-microphone-settings:before {
    content: "\ec99";
}
.cui-microphone-slash:before {
    content: "\ec9a";
}
.cui-minus:before {
    content: "\ec9b";
}
.cui-minus-circle:before {
    content: "\ec9c";
}
.cui-minus-square:before {
    content: "\ec9d";
}
.cui-mobile:before {
    content: "\ec9e";
}
.cui-mobile-arrow-add:before {
    content: "\ec9f";
}
.cui-mobile-arrow-remove:before {
    content: "\eca0";
}
.cui-mobile-check:before {
    content: "\eca1";
}
.cui-mobile-developer-mode:before {
    content: "\eca2";
}
.cui-mobile-landscape:before {
    content: "\eca3";
}
.cui-mobile-lock:before {
    content: "\eca4";
}
.cui-mobile-minus:before {
    content: "\eca5";
}
.cui-mobile-plus:before {
    content: "\eca6";
}
.cui-mobile-portrait:before {
    content: "\eca7";
}
.cui-mobile-settings:before {
    content: "\eca8";
}
.cui-mobile-slash:before {
    content: "\eca9";
}
.cui-mobile-sms:before {
    content: "\ecaa";
}
.cui-mobile-speaker:before {
    content: "\ecab";
}
.cui-mobile-volume:before {
    content: "\ecac";
}
.cui-mobile-x:before {
    content: "\ecad";
}
.cui-money:before {
    content: "\ecae";
}
.cui-money-bill:before {
    content: "\ecaf";
}
.cui-money-bill-alt:before {
    content: "\ecb0";
}
.cui-money-bill-alt2:before {
    content: "\ecb1";
}
.cui-monitor:before {
    content: "\ecb2";
}
.cui-mood-bad:before {
    content: "\ecb3";
}
.cui-mood-good:before {
    content: "\ecb4";
}
.cui-mood-very-bad:before {
    content: "\ecb5";
}
.cui-mood-very-good:before {
    content: "\ecb6";
}
.cui-moon:before {
    content: "\ecb7";
}
.cui-more:before {
    content: "\ecb8";
}
.cui-motorbike:before {
    content: "\ecb9";
}
.cui-mouse:before {
    content: "\ecba";
}
.cui-mouse-alt:before {
    content: "\ecbb";
}
.cui-mouth:before {
    content: "\ecbc";
}
.cui-mouth-slash:before {
    content: "\ecbd";
}
.cui-move:before {
    content: "\ecbe";
}
.cui-movie:before {
    content: "\ecbf";
}
.cui-movie-alt:before {
    content: "\ecc0";
}
.cui-mug:before {
    content: "\ecc1";
}
.cui-mug-tea:before {
    content: "\ecc2";
}
.cui-music-note:before {
    content: "\ecc3";
}
.cui-music-note-alt:before {
    content: "\ecc4";
}
.cui-music-note-slash:before {
    content: "\ecc5";
}
.cui-music-video:before {
    content: "\ecc6";
}
.cui-network-check:before {
    content: "\ecc7";
}
.cui-new:before {
    content: "\ecc8";
}
.cui-new-releases:before {
    content: "\ecc9";
}
.cui-newspaper:before {
    content: "\ecca";
}
.cui-note:before {
    content: "\eccb";
}
.cui-note-add:before {
    content: "\eccc";
}
.cui-notes:before {
    content: "\eccd";
}
.cui-object-group:before {
    content: "\ecce";
}
.cui-object-ungroup:before {
    content: "\eccf";
}
.cui-opacity:before {
    content: "\ecd0";
}
.cui-opentype:before {
    content: "\ecd1";
}
.cui-options:before {
    content: "\ecd2";
}
.cui-oven:before {
    content: "\ecd3";
}
.cui-overscan:before {
    content: "\ecd4";
}
.cui-overscan-settings:before {
    content: "\ecd5";
}
.cui-page:before {
    content: "\ecd6";
}
.cui-page-restore:before {
    content: "\ecd7";
}
.cui-pageview:before {
    content: "\ecd8";
}
.cui-paint:before {
    content: "\ecd9";
}
.cui-paint-bucket:before {
    content: "\ecda";
}
.cui-paper-plane:before {
    content: "\ecdb";
}
.cui-paperclip:before {
    content: "\ecdc";
}
.cui-paragraph:before {
    content: "\ecdd";
}
.cui-parking:before {
    content: "\ecde";
}
.cui-paw:before {
    content: "\ecdf";
}
.cui-pen:before {
    content: "\ece0";
}
.cui-pen-alt:before {
    content: "\ece1";
}
.cui-pen-fancy:before {
    content: "\ece2";
}
.cui-pen-nib:before {
    content: "\ece3";
}
.cui-pencil:before {
    content: "\ece4";
}
.cui-people:before {
    content: "\ece5";
}
.cui-people-minus:before {
    content: "\ece6";
}
.cui-people-plus:before {
    content: "\ece7";
}
.cui-people-x:before {
    content: "\ece8";
}
.cui-percent:before {
    content: "\ece9";
}
.cui-person:before {
    content: "\ecea";
}
.cui-person-female:before {
    content: "\eceb";
}
.cui-petrol-station:before {
    content: "\ecec";
}
.cui-phone:before {
    content: "\eced";
}
.cui-phone-bluetooth:before {
    content: "\ecee";
}
.cui-phone-call:before {
    content: "\ecef";
}
.cui-phone-call-end:before {
    content: "\ecf0";
}
.cui-phone-callback:before {
    content: "\ecf1";
}
.cui-phone-check:before {
    content: "\ecf2";
}
.cui-phone-forward:before {
    content: "\ecf3";
}
.cui-phone-in-talk:before {
    content: "\ecf4";
}
.cui-phone-lock:before {
    content: "\ecf5";
}
.cui-phone-minus:before {
    content: "\ecf6";
}
.cui-phone-missed:before {
    content: "\ecf7";
}
.cui-phone-paused:before {
    content: "\ecf8";
}
.cui-phone-plus:before {
    content: "\ecf9";
}
.cui-phone-ring-volume:before {
    content: "\ecfa";
}
.cui-phone-settings:before {
    content: "\ecfb";
}
.cui-phone-slash:before {
    content: "\ecfc";
}
.cui-phone-square:before {
    content: "\ecfd";
}
.cui-phone-volume:before {
    content: "\ecfe";
}
.cui-phone-x:before {
    content: "\ecff";
}
.cui-picture-in-picture:before {
    content: "\ed00";
}
.cui-picture-in-picture-alt:before {
    content: "\ed01";
}
.cui-pin:before {
    content: "\ed02";
}
.cui-pizza:before {
    content: "\ed03";
}
.cui-plant:before {
    content: "\ed04";
}
.cui-playlist-add:before {
    content: "\ed05";
}
.cui-playlist-add-check:before {
    content: "\ed06";
}
.cui-playlist-play:before {
    content: "\ed07";
}
.cui-plus:before {
    content: "\ed08";
}
.cui-plus-circle:before {
    content: "\ed09";
}
.cui-plus-one:before {
    content: "\ed0a";
}
.cui-plus-square:before {
    content: "\ed0b";
}
.cui-pool:before {
    content: "\ed0c";
}
.cui-portable-wifi:before {
    content: "\ed0d";
}
.cui-portable-wifi-off:before {
    content: "\ed0e";
}
.cui-power-settings:before {
    content: "\ed0f";
}
.cui-power-standby:before {
    content: "\ed10";
}
.cui-pregnant:before {
    content: "\ed11";
}
.cui-print:before {
    content: "\ed12";
}
.cui-printer:before {
    content: "\ed13";
}
.cui-printer-slash:before {
    content: "\ed14";
}
.cui-pushchair:before {
    content: "\ed15";
}
.cui-puzzle:before {
    content: "\ed16";
}
.cui-puzzle-piece:before {
    content: "\ed17";
}
.cui-qr-code:before {
    content: "\ed18";
}
.cui-queue:before {
    content: "\ed19";
}
.cui-queue-add:before {
    content: "\ed1a";
}
.cui-queue-music:before {
    content: "\ed1b";
}
.cui-queue-play-next:before {
    content: "\ed1c";
}
.cui-queue-remove:before {
    content: "\ed1d";
}
.cui-radio:before {
    content: "\ed1e";
}
.cui-railway:before {
    content: "\ed1f";
}
.cui-rain:before {
    content: "\ed20";
}
.cui-random:before {
    content: "\ed21";
}
.cui-recent-actors:before {
    content: "\ed22";
}
.cui-rectangle:before {
    content: "\ed23";
}
.cui-recycle:before {
    content: "\ed24";
}
.cui-registered:before {
    content: "\ed25";
}
.cui-reload:before {
    content: "\ed26";
}
.cui-remote-control:before {
    content: "\ed27";
}
.cui-remote-settings:before {
    content: "\ed28";
}
.cui-replay:before {
    content: "\ed29";
}
.cui-report:before {
    content: "\ed2a";
}
.cui-report-slash:before {
    content: "\ed2b";
}
.cui-resize-both:before {
    content: "\ed2c";
}
.cui-resize-height:before {
    content: "\ed2d";
}
.cui-resize-width:before {
    content: "\ed2e";
}
.cui-restaurant:before {
    content: "\ed2f";
}
.cui-restaurant-menu:before {
    content: "\ed30";
}
.cui-restore:before {
    content: "\ed31";
}
.cui-rights:before {
    content: "\ed32";
}
.cui-room:before {
    content: "\ed33";
}
.cui-room-slash:before {
    content: "\ed34";
}
.cui-rounded-corner:before {
    content: "\ed35";
}
.cui-router:before {
    content: "\ed36";
}
.cui-rowing:before {
    content: "\ed37";
}
.cui-rss:before {
    content: "\ed38";
}
.cui-rss-alt:before {
    content: "\ed39";
}
.cui-rss-square:before {
    content: "\ed3a";
}
.cui-ruble:before {
    content: "\ed3b";
}
.cui-ruble-circle:before {
    content: "\ed3c";
}
.cui-ruble-circle-slash:before {
    content: "\ed3d";
}
.cui-ruble-slash:before {
    content: "\ed3e";
}
.cui-running:before {
    content: "\ed3f";
}
.cui-sad:before {
    content: "\ed40";
}
.cui-satelite:before {
    content: "\ed41";
}
.cui-save:before {
    content: "\ed42";
}
.cui-scanner:before {
    content: "\ed43";
}
.cui-school:before {
    content: "\ed44";
}
.cui-scooter:before {
    content: "\ed45";
}
.cui-screen-deskop-slash:before {
    content: "\ed46";
}
.cui-screen-desktop:before {
    content: "\ed47";
}
.cui-screen-horizontal:before {
    content: "\ed48";
}
.cui-screen-landscape:before {
    content: "\ed49";
}
.cui-screen-lock-horizontal:before {
    content: "\ed4a";
}
.cui-screen-lock-landscape:before {
    content: "\ed4b";
}
.cui-screen-lock-portrait:before {
    content: "\ed4c";
}
.cui-screen-lock-rotation:before {
    content: "\ed4d";
}
.cui-screen-lock-vertical:before {
    content: "\ed4e";
}
.cui-screen-mirroring:before {
    content: "\ed4f";
}
.cui-screen-portrait:before {
    content: "\ed50";
}
.cui-screen-rotation:before {
    content: "\ed51";
}
.cui-screen-smartphone:before {
    content: "\ed52";
}
.cui-screen-vertical:before {
    content: "\ed53";
}
.cui-script:before {
    content: "\ed54";
}
.cui-scrubber:before {
    content: "\ed55";
}
.cui-sdcard:before {
    content: "\ed56";
}
.cui-search:before {
    content: "\ed57";
}
.cui-security:before {
    content: "\ed58";
}
.cui-select:before {
    content: "\ed59";
}
.cui-select-all:before {
    content: "\ed5a";
}
.cui-send:before {
    content: "\ed5b";
}
.cui-settings:before {
    content: "\ed5c";
}
.cui-share:before {
    content: "\ed5d";
}
.cui-share-all:before {
    content: "\ed5e";
}
.cui-share-alt:before {
    content: "\ed5f";
}
.cui-share-boxed:before {
    content: "\ed60";
}
.cui-shield:before {
    content: "\ed61";
}
.cui-shield-alt:before {
    content: "\ed62";
}
.cui-shield-check:before {
    content: "\ed63";
}
.cui-shield-minus:before {
    content: "\ed64";
}
.cui-shield-plus:before {
    content: "\ed65";
}
.cui-shield-slash:before {
    content: "\ed66";
}
.cui-shield-x:before {
    content: "\ed67";
}
.cui-shop-media:before {
    content: "\ed68";
}
.cui-shop-media-two:before {
    content: "\ed69";
}
.cui-short-text:before {
    content: "\ed6a";
}
.cui-shower:before {
    content: "\ed6b";
}
.cui-sign-language:before {
    content: "\ed6c";
}
.cui-signal:before {
    content: "\ed6d";
}
.cui-signal-cellular-0:before {
    content: "\ed6e";
}
.cui-signal-cellular-1:before {
    content: "\ed6f";
}
.cui-signal-cellular-2:before {
    content: "\ed70";
}
.cui-signal-cellular-3:before {
    content: "\ed71";
}
.cui-signal-cellular-4:before {
    content: "\ed72";
}
.cui-signal-cellular-no-internet-0:before {
    content: "\ed73";
}
.cui-signal-cellular-no-internet-1:before {
    content: "\ed74";
}
.cui-signal-cellular-no-internet-2:before {
    content: "\ed75";
}
.cui-signal-cellular-no-internet-3:before {
    content: "\ed76";
}
.cui-signal-cellular-no-internet-4:before {
    content: "\ed77";
}
.cui-signal-cellular-off:before {
    content: "\ed78";
}
.cui-signal-off:before {
    content: "\ed79";
}
.cui-signpost:before {
    content: "\ed7a";
}
.cui-sim:before {
    content: "\ed7b";
}
.cui-sim-slash:before {
    content: "\ed7c";
}
.cui-sitemap:before {
    content: "\ed7d";
}
.cui-slow-motion:before {
    content: "\ed7e";
}
.cui-smile:before {
    content: "\ed7f";
}
.cui-smile-plus:before {
    content: "\ed80";
}
.cui-smoke:before {
    content: "\ed81";
}
.cui-smoke-free:before {
    content: "\ed82";
}
.cui-smoke-slash:before {
    content: "\ed83";
}
.cui-smoking-room:before {
    content: "\ed84";
}
.cui-snow:before {
    content: "\ed85";
}
.cui-snowflake:before {
    content: "\ed86";
}
.cui-soccer:before {
    content: "\ed87";
}
.cui-sofa:before {
    content: "\ed88";
}
.cui-sorround-sound:before {
    content: "\ed89";
}
.cui-sort-alpha-down:before {
    content: "\ed8a";
}
.cui-sort-alpha-up:before {
    content: "\ed8b";
}
.cui-sort-ascending:before {
    content: "\ed8c";
}
.cui-sort-descending:before {
    content: "\ed8d";
}
.cui-sort-numeric-down:before {
    content: "\ed8e";
}
.cui-sort-numeric-up:before {
    content: "\ed8f";
}
.cui-sound:before {
    content: "\ed90";
}
.cui-spa:before {
    content: "\ed91";
}
.cui-space-bar:before {
    content: "\ed92";
}
.cui-speak:before {
    content: "\ed93";
}
.cui-speaker:before {
    content: "\ed94";
}
.cui-speaker-group:before {
    content: "\ed95";
}
.cui-speech:before {
    content: "\ed96";
}
.cui-speech-bubble:before {
    content: "\ed97";
}
.cui-speech-notes:before {
    content: "\ed98";
}
.cui-speech-notes-slash:before {
    content: "\ed99";
}
.cui-speedometer:before {
    content: "\ed9a";
}
.cui-spreadsheet:before {
    content: "\ed9b";
}
.cui-square:before {
    content: "\ed9c";
}
.cui-star:before {
    content: "\ed9d";
}
.cui-star-circle:before {
    content: "\ed9e";
}
.cui-star-half:before {
    content: "\ed9f";
}
.cui-sticky-note:before {
    content: "\eda0";
}
.cui-storage:before {
    content: "\eda1";
}
.cui-store:before {
    content: "\eda2";
}
.cui-stream:before {
    content: "\eda3";
}
.cui-strikethrough:before {
    content: "\eda4";
}
.cui-subtitles:before {
    content: "\eda5";
}
.cui-subway:before {
    content: "\eda6";
}
.cui-sun:before {
    content: "\eda7";
}
.cui-swap-horizontal:before {
    content: "\eda8";
}
.cui-swap-horizontal-circle:before {
    content: "\eda9";
}
.cui-swap-vertical:before {
    content: "\edaa";
}
.cui-swap-vertical-circle:before {
    content: "\edab";
}
.cui-swimming:before {
    content: "\edac";
}
.cui-sync:before {
    content: "\edad";
}
.cui-sync-disabled:before {
    content: "\edae";
}
.cui-sync-problem:before {
    content: "\edaf";
}
.cui-tablet:before {
    content: "\edb0";
}
.cui-tag:before {
    content: "\edb1";
}
.cui-tags:before {
    content: "\edb2";
}
.cui-target:before {
    content: "\edb3";
}
.cui-task:before {
    content: "\edb4";
}
.cui-taxi:before {
    content: "\edb5";
}
.cui-temperature:before {
    content: "\edb6";
}
.cui-temperature-alt:before {
    content: "\edb7";
}
.cui-temperature-high:before {
    content: "\edb8";
}
.cui-temperature-low:before {
    content: "\edb9";
}
.cui-tennis:before {
    content: "\edba";
}
.cui-tennis-ball:before {
    content: "\edbb";
}
.cui-terminal:before {
    content: "\edbc";
}
.cui-terrain:before {
    content: "\edbd";
}
.cui-text:before {
    content: "\edbe";
}
.cui-text-direction-ltr:before {
    content: "\edbf";
}
.cui-text-direction-rtl:before {
    content: "\edc0";
}
.cui-text-format-clear:before {
    content: "\edc1";
}
.cui-text-height:before {
    content: "\edc2";
}
.cui-text-rotate-vertical:before {
    content: "\edc3";
}
.cui-text-rotation-down:before {
    content: "\edc4";
}
.cui-text-rotation-none:before {
    content: "\edc5";
}
.cui-text-rotation-up:before {
    content: "\edc6";
}
.cui-text-shapes:before {
    content: "\edc7";
}
.cui-text-size:before {
    content: "\edc8";
}
.cui-text-square:before {
    content: "\edc9";
}
.cui-text-strike:before {
    content: "\edca";
}
.cui-text-width:before {
    content: "\edcb";
}
.cui-thermometer:before {
    content: "\edcc";
}
.cui-thermometer-alt:before {
    content: "\edcd";
}
.cui-thumb-down:before {
    content: "\edce";
}
.cui-thumb-up:before {
    content: "\edcf";
}
.cui-timeline:before {
    content: "\edd0";
}
.cui-timer:before {
    content: "\edd1";
}
.cui-toggle-off:before {
    content: "\edd2";
}
.cui-toggle-on:before {
    content: "\edd3";
}
.cui-toilet:before {
    content: "\edd4";
}
.cui-toll:before {
    content: "\edd5";
}
.cui-touch-app:before {
    content: "\edd6";
}
.cui-trademark:before {
    content: "\edd7";
}
.cui-traffic:before {
    content: "\edd8";
}
.cui-train:before {
    content: "\edd9";
}
.cui-train-alt:before {
    content: "\edda";
}
.cui-tram:before {
    content: "\eddb";
}
.cui-transfer:before {
    content: "\eddc";
}
.cui-transfer-within-a-station:before {
    content: "\eddd";
}
.cui-translate:before {
    content: "\edde";
}
.cui-trash:before {
    content: "\eddf";
}
.cui-trash-alt:before {
    content: "\ede0";
}
.cui-trash-arrow-up:before {
    content: "\ede1";
}
.cui-trash-sweep:before {
    content: "\ede2";
}
.cui-trash-x:before {
    content: "\ede3";
}
.cui-triangle:before {
    content: "\ede4";
}
.cui-truck:before {
    content: "\ede5";
}
.cui-tty:before {
    content: "\ede6";
}
.cui-tv:before {
    content: "\ede7";
}
.cui-tv-dvr:before {
    content: "\ede8";
}
.cui-tv-live:before {
    content: "\ede9";
}
.cui-tv-slash:before {
    content: "\edea";
}
.cui-underline:before {
    content: "\edeb";
}
.cui-universal-access:before {
    content: "\edec";
}
.cui-update:before {
    content: "\eded";
}
.cui-usb:before {
    content: "\edee";
}
.cui-user:before {
    content: "\edef";
}
.cui-user-female:before {
    content: "\edf0";
}
.cui-user-female-follow:before {
    content: "\edf1";
}
.cui-user-female-minus:before {
    content: "\edf2";
}
.cui-user-female-plus:before {
    content: "\edf3";
}
.cui-user-female-unfollow:before {
    content: "\edf4";
}
.cui-user-female-x:before {
    content: "\edf5";
}
.cui-user-follow:before {
    content: "\edf6";
}
.cui-user-minus:before {
    content: "\edf7";
}
.cui-user-plus:before {
    content: "\edf8";
}
.cui-user-secret:before {
    content: "\edf9";
}
.cui-user-unfollow:before {
    content: "\edfa";
}
.cui-user-x:before {
    content: "\edfb";
}
.cui-vector:before {
    content: "\edfc";
}
.cui-verical-split:before {
    content: "\edfd";
}
.cui-vertical-align-bottom:before {
    content: "\edfe";
}
.cui-vertical-align-center:before {
    content: "\edff";
}
.cui-vertical-align-top:before {
    content: "\ee00";
}
.cui-video:before {
    content: "\ee01";
}
.cui-video-label:before {
    content: "\ee02";
}
.cui-video-library:before {
    content: "\ee03";
}
.cui-video-missed:before {
    content: "\ee04";
}
.cui-video-plus:before {
    content: "\ee05";
}
.cui-video-slash:before {
    content: "\ee06";
}
.cui-video-switch:before {
    content: "\ee07";
}
.cui-videogame:before {
    content: "\ee08";
}
.cui-view-agenda:before {
    content: "\ee09";
}
.cui-view-array:before {
    content: "\ee0a";
}
.cui-view-carousel:before {
    content: "\ee0b";
}
.cui-view-column:before {
    content: "\ee0c";
}
.cui-view-module:before {
    content: "\ee0d";
}
.cui-view-quilt:before {
    content: "\ee0e";
}
.cui-view-stream:before {
    content: "\ee0f";
}
.cui-voice:before {
    content: "\ee10";
}
.cui-voice-over-record:before {
    content: "\ee11";
}
.cui-voice-over-slash:before {
    content: "\ee12";
}
.cui-voicemail:before {
    content: "\ee13";
}
.cui-volume:before {
    content: "\ee14";
}
.cui-volume-high:before {
    content: "\ee15";
}
.cui-volume-low:before {
    content: "\ee16";
}
.cui-volume-off:before {
    content: "\ee17";
}
.cui-vote:before {
    content: "\ee18";
}
.cui-walk:before {
    content: "\ee19";
}
.cui-wallet:before {
    content: "\ee1a";
}
.cui-wallpaper:before {
    content: "\ee1b";
}
.cui-warning:before {
    content: "\ee1c";
}
.cui-watch:before {
    content: "\ee1d";
}
.cui-waves:before {
    content: "\ee1e";
}
.cui-wc:before {
    content: "\ee1f";
}
.cui-webcloud:before {
    content: "\ee20";
}
.cui-weightlifitng:before {
    content: "\ee21";
}
.cui-weights:before {
    content: "\ee22";
}
.cui-wheelchair:before {
    content: "\ee23";
}
.cui-widgets:before {
    content: "\ee24";
}
.cui-wifi:before {
    content: "\ee25";
}
.cui-wifi-lock:before {
    content: "\ee26";
}
.cui-wifi-signal-0:before {
    content: "\ee27";
}
.cui-wifi-signal-1:before {
    content: "\ee28";
}
.cui-wifi-signal-2:before {
    content: "\ee29";
}
.cui-wifi-signal-3:before {
    content: "\ee2a";
}
.cui-wifi-signal-4:before {
    content: "\ee2b";
}
.cui-wifi-signal-lock-0:before {
    content: "\ee2c";
}
.cui-wifi-signal-lock-1:before {
    content: "\ee2d";
}
.cui-wifi-signal-lock-2:before {
    content: "\ee2e";
}
.cui-wifi-signal-lock-3:before {
    content: "\ee2f";
}
.cui-wifi-signal-lock-4:before {
    content: "\ee30";
}
.cui-wifi-signal-off:before {
    content: "\ee31";
}
.cui-window:before {
    content: "\ee32";
}
.cui-window-maximize:before {
    content: "\ee33";
}
.cui-window-minimize:before {
    content: "\ee34";
}
.cui-window-restore:before {
    content: "\ee35";
}
.cui-wrap-text:before {
    content: "\ee36";
}
.cui-x:before {
    content: "\ee37";
}
.cui-x-circle:before {
    content: "\ee38";
}
.cui-x-square:before {
    content: "\ee39";
}
.cui-yen:before {
    content: "\ee3a";
}
.cui-yen-circle:before {
    content: "\ee3b";
}
.cui-yen-circle-slash:before {
    content: "\ee3c";
}
.cui-yen-slash:before {
    content: "\ee3d";
}
.cui-zoom:before {
    content: "\ee3e";
}
.cui-zoom-in:before {
    content: "\ee3f";
}
.cui-zoom-out:before {
    content: "\ee40";
}
